.container {
  position: absolute;
  z-index: 9;
  width: 40%;
  top: 25%;
  left: 30%;
  background-color: white;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primary {
  background-color: #64a1d5 !important;
  background-image: linear-gradient(to bottom, #64a1d5, #428bca);
  color: #fff;
  border-color: #428bca;
  min-width: 70px;
}
.success:hover {
  background-color: #428bca;
  color: #fff;
  border-color: #428bca;
}
