html {
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  height: 100vh;
}
.btn {
  align-self: flex-end;
  margin-bottom: 0.8rem;
}
